.mychat-main-chat-area {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.mychat-chat-list {
  flex-grow: 1;
  overflow-y: auto; 
  padding: 20px;
  background-color: #ffffff; 
}

.mychat-chat-item {
  display: flex;
  align-items: flex-start;
  cursor: default;
  pointer-events: none;
  border-bottom: none;
  margin-bottom: 20px; 
}

.mychat-mine {
  justify-content: flex-end;
}

.mychat-mine .mychat-chat-bubble {
  background-color: #dcf8c6; 
  border-radius: 20px 20px 0 20px;
  padding: 0px 10px; 
  max-width: 60%;
  align-self: flex-end;
  word-wrap: break-word;
}

.mychat-chat-image {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  margin: 10px;
}

.mychat-chat-file {
  margin-top: 10px; 
}